:root {
  --grid-color: linear-gradient(90deg, #6776ff 0%, #80ffdb 117.88%);
}

/* navbar */

.fullNav {
  color: #ffffff;
  height: 70px;
}

.fullNav .flex {
  justify-content: space-between;
}

.fullNav ul {
  display: flex;
}

.fullNav a {
  color: #6776ff;
  padding: 10px;
  margin: 0 5px;
}
.fullNav a:hover {
  border-bottom: 2px white solid;
}
.logoCompany {
  width: 8em;
  height: 4em;
}
/* utilty */
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/*showcase*/
.showcase {
  height: 318px;
  width: 55%;
  top: 100px;
  left: 20%;
  background-color: #ffffff;
  color: #ffffff;
  position: relative;
}

/* middle Quiz */

.card {
  /* padding: 20px; */
  margin: 10px;
  background: var(--grid-color);
  border: 2px solid #d4d4d4;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.left-dot {
  position: absolute;
  width: 35%;
  height: 24%;
  left: 7%;
  top: 50%;
}

.right-dot {
  position: absolute;
  width: 22%;
  height: 75%;
  right: 14%;
  top: 18%;
}

.QButton {
  display: inline-block;
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  border: 2px #ffffff solid;
  border-radius: 5px;
}
