.outer {
  font-size: 15px;
  line-height: 25px;
  white-space: nowrap;
  text-align: center;

  color: #ffffff;
}

.outer .innerL {
  /* 75% Accuracy */

  position: absolute;
  width: 76px;
  height: 51px;
  left: 25%;
  top: 10%;
}
.outer .innerR {
  position: absolute;
  width: 76px;
  height: 51px;
  left: 65%;
  top: 10%;
}
.end {
  white-space: nowrap;
}
