.box {
  position: absolute;
  width: 18%;
  height: 15%;
  top: 6%;
  right: 3%;

  font-size: 0.7em;
  line-height: 18px;
  white-space: nowrap;
  text-align: center;

  background: rgba(47, 47, 47, 0.36);
  border-radius: 5px;
}

.innerL {
  position: absolute;
  width: 4.5rem;
  top: 18%;
  right: 35%;
}
.innerR {
  position: absolute;
  width: 4.5rem;
  top: 18%;
  left: 35%;
}
.semiColon {
  position: absolute;
  top: 15%;
  left: 50%;
}
