.box {
  /* Rectangle 12874 */

  position: absolute;
  width: 15%;
  height: 15%;
  top: 6%;
  right: 3%;

  background: rgba(47, 47, 47, 0.36);
  border-radius: 5px;
}
/* span,
h3 {
 
} */

.innerL {
  /* 75% Accuracy */

  position: absolute;
  width: 76px;
  height: 51px;
  top: 18%;
  right: 35%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 5px;
  white-space: nowrap;
  text-align: center;

  color: #ffff;
}
.innerR {
  position: absolute;
  width: 76px;
  height: 51px;
  top: 18%;
  left: 35%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 5px;
  white-space: nowrap;
  text-align: center;

  color: #ffff;
}
.semiColon {
  position: absolute;
  top: 15%;
  left: 50%;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 5px;
  white-space: nowrap;
  text-align: center;

  color: #ffff;
}
